<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264236047317-p9jmbe1uaur309ca26gtr214nnlgm377.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264236047317-p9jmbe1uaur309ca26gtr214nnlgm377</string>
	<key>API_KEY</key>
	<string>AIzaSyAXN1G9Rw9NLnbWDgMsm86jfKraqk_u_es</string>
	<key>GCM_SENDER_ID</key>
	<string>264236047317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.poddtoolkit.poddMobile</string>
	<key>PROJECT_ID</key>
	<string>open-surveillance</string>
	<key>STORAGE_BUCKET</key>
	<string>open-surveillance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264236047317:ios:8468a8f4fc6bed34a03b5c</string>
</dict>
</plist>